<div class="example">
  <div class="introduction">
    <h2>Caso básico</h2>
    <p>Formulario básico donde al darle al botón vemos el resultado.</p>
  </div>
  <div class2-basic-example></div>
</div>
<div class="example">
  <div class="introduction">
    <h2>Validaciones por defecto de angular</h2>
    <p>
      Añadimos a esos campos un validador requerido y el botón está
      deshabilitado hasta que los campos no están rellenos
    </p>
  </div>
  <div class2-validation-example></div>
</div>

<div class="example">
  <div class="introduction">
    <h2>FormArray</h2>
    <p>
      Tenemos un FormArray de direcciones con un componente hijo donde añadimos
      los datos de cada dirección
    </p>
  </div>
  <div class2-form-array></div>
</div>
